.Downbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33E2DA;
  height: 65px;
  gap: 2vw;
}

.Downbar h2 {
  color: #000073;
  background-color: transparent;
  font-weight: 600;
}

.button__test {
  background-color: #FF6600;
  border: none;
  font-weight: 600;
  color: #fff;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
}